// Schedule page start
.schedule {
  &__box + .schedule__box {
    margin-top: 30px;
  }
  &__box {
    position: relative;
    &::before {
      position: absolute;
      content: '>';
      left: 10px;
      top: 48%;
      transform: translateY(-50%);
      font-size: 20px;
    }
    &.active {
      .schedule__title {
        padding-left: 5px;
      }
      .schedule__lesson {
        display: block;
      }
      &::before {
        content: '';
      }
    }
  }
  &__title {
    padding: 5px 5px 5px 25px;
    font-weight: 700;
    font-size: $fs-title;
    background-color: #EFEFEF;
    cursor: pointer;
  }
  &__day {
  }
  &__date {
    margin-left: 10px;
  }
  &__lesson {
    display: none;
  }
  &__lesson + .schedule__lesson {
    margin-top: 30px;
  }
  &__subtitle {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: $fs-title;
  }
  &__time {
  }
  &__exercise {
    margin-left: 10px;
  }
  &__coaching-staff {
    border-bottom: 2px solid $color-gray;
  }
  &__instructor {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-weight: 400;
    font-family: $main-font;
    color: $color-main;
    font-size: $fs-normal;
    vertical-align: middle;
    a::before {
      font-family: 'custom-icons';
      color: $color-sky;
      margin-right: 6px;
    }
  }
}
.btn__sign-up,
.btn__add,
.btn__log-out,
.btn__search{
  font-size: $fs-icon;
  border-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.btn {
  &__sign-up {
    vertical-align: middle;
    margin-left: auto;
    background-color: transparent;
    width: 26px;
    height: 26px;
  }
  &__add {
    width: 26px;
    height: 26px;
    margin: 0 5px 0 20px;
  }
  &__log-out {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-left: auto;
  }
  &__search {
    width: 26px;
    height: 26px;
  }
  &__edit {
    color: $color-blue;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__over {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: $fs-normal;
    font-weight: 500;
    &_icon{
      width: 27px;
      height: 26px;
      color: #d0d0d0;
      overflow: hidden;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-left: 5px;
      &::before {
        font-family: 'custom-icons';
        font-size: 26px;
      }
    }
  }
}
.signed-up {
  &__student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fs-normal;
    margin-top: 10px;
    padding: 5px;
    background-color: $color-white;
    position: relative;
    padding-left: 25px;
  }
  &__checkbox {
    margin-right: 10px;
    position: absolute;
    z-index: -1;
    & + .signed-up__checkbox-icon::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      z-index: 2;
      left: 0;
      font-size: 18px;
      font-family: 'custom-icons';
      content: "\e907";
      color: #b3c7d5;
      cursor: pointer;
    }
    &:checked {
      & + .signed-up__checkbox-icon {
        &::before {
          font-size: 18px;
          display: block;
          content: "\e905";
          color: #55b8fd;
          font-family: 'custom-icons';
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align: center;
        }
      }
    }
  }
  
  &__name {
    cursor: pointer;
  }
  &__log-out {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    .btn__log-out {
      position: absolute;
      right: 0;
    }
  }
  &__counter {
    vertical-align: middle;
    margin-right: 40px;
  }
}
.italic {
  font-style: italic !important;
}
.unsubscribed {
  &__reason {
    margin-right: 5px;
  }
  .signed-up__name {
    color: $color-gray;
  }
} 
.publication {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  &__title {
  }

  &__time {
    margin-left: 10px;
  }

  &__day {
    margin-left: 10px;
  }

  &__btn {
  }
}
// Schedule page end