@mixin font($font_name, $file_name, $weight, $style) { // Для подключения шрифтов
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.ttf?hehygb") format("truetype");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}
@import 'global';
@import 'fonts';
// Стили
@import 'header';
@import 'schedule';
@import 'profile';
@import 'balance';
@import 'list';
@import 'redact';
@import 'settings';
@import 'modal';

